{% extends 'base.html' %}
{% load static %}


{% comment %}
<link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">
{% endcomment %}

{% block title %}

<title>Bitcoin analyser</title>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

{% endblock title %}

{% comment %}
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
{% endcomment %}


{% block content %}

<header class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Tag correlation with #bitcoin</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">

        <h6 class="d-flex justify-content-evenly align-items-center mt-3 mb-3 text-muted">
            <span data-feather="archive"></span>
            <span>Data - time intervals</span>
        </h6>

        <ul class="nav flex-column mt-1">
          <li class="nav-item">
            <form action="{% url 'data_chart' %}" class="" method="POST">{% csrf_token %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dataset" id="radioButton--month" value="month">
                <label class="form-check-label" for="radioButton--month">
                Month
                </label>
                </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dataset" id="radioButton--day" value="day" >
                <label class="form-check-label" for="radioButton--day">
                Day
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dataset" id="radioButton--hour" value="hour" checked>
                <label class="form-check-label" for="radioButton--hour">
                Hour
                </label>
              </div>
            </form>
          </li>

        </ul>

        <h6 class="d-flex justify-content-evenly align-items-center mt-5 mb-2 text-muted">
            <span data-feather="bar-chart"></span>
            <span>Histogram data</span>
        </h6>

        <ul class="nav flex-column">
        <li class="nav-item">

          <select id="select--input" class="btn btn-outline-dark dropdown-toggle mt-3" aria-label="Default select example">
          {% comment %}
            <option selected>Choose dataset</option>
          {% endcomment %}

        </select>

        </li>
        </ul>


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Histogram of Tags</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
      <div id="canvas">
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      </div>
      <div class="d-flex justify-content-between">
        <h2>Histogram of tags</h2>
        <span id="button--rePlot--here"><input type="button" class="btn btn-outline-dark" value="Plot Histogram" id="button--rePlot"></span>
      </div>
      <div id="table--of--tags" class="table-responsive">
      </div>

    </main>
  </div>
</div>

<script src="{% static 'js/request_ajax.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/table_of_tags.js' %}"></script>
<script src="{% static 'js/input_menu.js' %}"></script>


{% endblock content %}
